*.pyc
.DS_Store
*.pickle
summary.csv
compared.gff3
*.fai
missing.gff3
tmp/
todo
incorrect.gff3
novel.gff3
data/md5.tsv*
data/*/genome.fasta
data/*/inferred.json
data/*/known-md5.txt
data/*/known.gff3
data/*/raw.bed
data/*/targets.bed
data/*/targets.fasta
data/*/*.2bit
data/*/11.ooc
